h5 Editar factura

== render 'form'

=> link_to 'Ver', admin_invoice_path(@invoice), class: 'btn grey lighten-3 right'
=< link_to 'Atrás', admin_invoices_path, class: 'btn grey lighten-3 right', style: 'color: black;'

