h5 Editing invoice

== render 'form'

=> link_to 'Show', admin_invoice_path(@invoice), class: 'btn grey lighten-3 right'
=< link_to 'Back', admin_invoices_path, class: 'btn grey lighten-3 right', style: 'color: black;'

